@model CitiesWebsite.Models.Cliente


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
</head>
<body>
    @using (Html.BeginForm("create","Cliente"))
    {
        @Html.EditorForModel()
        <input type="submit" value="Create" />
    }

</body>
</html>
