
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Equipo</title>
</head>
<body>
    <div> 
        <h1>Nosotros </h1>
        <ul>
            <li>Juan</li>
            <li>Yo</li>
        </ul>
    </div>
</body>
</html>
