
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargaDeDatos</title>
</head>
<body>
    <div> 
        <p>Los datos ingresados fueron guardados </p>
        <p>Gracias por comentar</p>
        <p><a href="/">Regresar</a></p>
    </div>
</body>
</html>
