
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p><a href="/Home/Formulario">Dejá tus comentarios en el libro</a></p>
        <p><a href="/Home/Comentarios">Comentarios de los visitantes</a></p>
        </div>
</body>
</html>
