

@{ ViewData["Title"] = "Index"; }

<h1 class="title">Welcome to Workers Portal</h1>
<div class="text-center">
    <a class="btn btn-info" href="@Url.Action("AddBook", "Librarian", null, "http")">Add Book</a>
</div>

