
@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

<div>
    <form method="post" action="/Home/Alta">
        <label>
            Codigo: <br />
            <input type="text" name="codigo" />
        </label>
        <br />
        <label>
            Descripcion: <br />
            <input type="text" name="descripcion" />
        </label>
        <br />
        <label>
            Precio: <br />
            <input type="text" name="precio" />
        </label>
        <br />
        <input type="submit" value="Confirmar" />
    </form>
</div>
